#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(33,26,44,255);
}

.intro-content{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0px !important;
}

.intro-page{
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.intro-section{
  margin-top:10rem;
  margin-left: 10rem !important;
}

.macbook{
  width: 500px !important;
  height: 500px !important;
}

canvas{
  width: 700px !important;
  height: 600px !important;
}


#basic-navbar-nav{
  max-width: 1920px !important;
  display: flex;
  gap:2rem;
}


.login-container{
  max-width: 400px !important;
}

#log-in-div{
  display: flex;
  justify-content: center;
}

.contact{
  min-height: 1000px;
}

.contact-container{
  margin-top: 5rem;
  max-width: 500px !important;
}

.contact-form{
  gap: 100px;
}

.email-control{
  margin-bottom: 30px !important;
  border: 2px solid black !important;
}

.contact-message{
  height: 200px !important;
  margin-bottom: 50px !important;
  padding-bottom:160px !important;
  overflow-wrap: break-word !important;
}

.login-button{
  margin-left: 63rem !important;
}

@media (max-width: 1399px) {
  .login-button {
    margin-left: 540px !important;
  }
}

@media (max-width: 1199px) {
  .login-button {
    margin-left: 366px !important;
  }
  .home-about{
    display:flex;
    flex-direction: column-reverse !important;
  }
  .home-about img{
    padding-bottom: 10px;
  }
  .home-about p{
    text-align: center;
  }
}

@media (max-width: 1019px) {
  .login-button {
    margin-left: 340px !important;
  }
}


@media (max-width: 991px) {
  .login-button {
    background: none !important;
    border: none !important;
    margin-left: 0px !important
  }
}